* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  background-image: linear-gradient(to right bottom, #cffafe, #22d3ee);
  background-repeat: no-repeat;
}
