.image {
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 480px) {
  .image {
    min-height: 250px;
    max-height: 250px;
    min-width: 250px;
    max-width: 250px;
  }
}
